/AI.class
/Board.class
/Gomoku.class
/Location.class
/ck.class
/scoreBslDown.class
/scoreBslUp.class
/scoreColDown.class
/scoreColUp.class
/scoreRowLeft.class
/scoreRowRight.class
/scoreSlaDown.class
/scoreSlaUp.class
/totalScore.class
